#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}

body {
    position: relative;
    background-color: black
}

table {
    float: center;
    border="2";
}

footer {
    text-align: center;
    font-style: italic;
    background: #CCCCFF;
}

@media only screen and (max-width: 64em) {
    #wrapper {
        width: 80%;
        min-width: 0;
    }
    nav {
        float: none;
        text-align: center;
    }
    nav ul {
        text-align: left;
    }
    body {
        margin: 0;
        background: #FFFFFF;
        padding-top: 150px;
        position: relative;
    }
    h2 {
        font-size: 2.5em;
    }
    table {
        display: 2em;
    }
}

@media only screen and (max-width: 37.5em) {
    body {
        position: relative;
    }
    table {
        display: none;
    }
}